@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
       Over Christmas, my brother-in-law was one of the first people to arrive at the scene of a serious mountain 
        bike accident. His story, along with the increasing number of cycling-related incidents reported in the press, inspired 
        the development of this system. 
    </p>

</article>

