@{
    ViewBag.Title = "Credits";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>Thanks to all those who made this happen</h2>
</hgroup>
<section class="well well-small">
    <header>
        <h3>About Bcon.cc</h3>
    </header>
    <p class="well well-sm">
        Bcon.cc, a simple idea, was turned from a concept into reality at the 
        <a href="http://nhshackday.com/" title="Hack day in cardiff">NHS hack Day in Cardiff</a> in 2014. 
        This event, bringing together health care professionals, designers and developers, 
        provided a space for creative and inspirational people to solve real world problems.
        <br/>
        <br/>

        Thanks to the hard work and dedication of the team,  <a href="http://bcon.cc">bcon.cc</a>, was developed. We are 
        now actively taking feedback from users to enhance and develop the product further, with the 
        aim of applying the technology across the health care industry.
    </p>
</section>

<section class="well well-small">
    <header>
        <h3>The Team</h3>
    </header>
    <p class="well well-sm">
        <span>
            David Rankin - Software developer
        </span>
    </p>
    <p class="well well-sm">
        <span >
            Robyn Miller - Advanced nurse practitioner
        </span>
    </p>
    <p class="well well-sm">
        <span >
            Ben Sharif ‏ - Medical student 
        </span>
    </p>
    <p class="well well-sm">
        <span >
            Alistair Ruff - Graphic and service designer
        </span>
    </p>
    <p class="well well-sm">
        <span >
            Steve Walford - Focus group
        </span>
    </p>
    <p class="well well-sm">
        <span >
            Mr Griffith - Focus group
        </span>
    </p>

</section>
<section class="well well-small">
    <header>
        <h4>Content</h4>
    </header>
    <p class="well well-sm">
        <a href="http://www.famfamfam.com/">Silk icons from FAMFAMFAM</a>
        <br />
            <a href="http://all-silhouettes.com">Background images from all-silhouettes.com</a>
        <br />
        <a href="http://www.movable-type.co.uk">Chris Veness for the OS Grid Ref scripts</a>
        <br />
    </p>
</section>