@{
    ViewBag.Title = "Welcome";
}
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Medical details at the scan of a Bcon.</h1>
        </hgroup>
        <p>
            With <b class="color-red">extreme sports </b>becoming more popular, Bcon means important medical information can easily be
            presented to those first responders. 
        </p>
    </div>
    
</section>
<hr/>
<div class="row row-fluid  " >
    <div id="myCarousel" class="carousel slide border-red">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item ">
                <center>
                    <img src="/Images/Banner1.png" style="height: 250px !important" alt="..." />
                    <div class="carousel-caption">
                        Making Mountain Rescue Easier
                    </div>
                </center>
            </div>
            <div class="item">
                <center>
                    <img src="/Images/Banner2.png" style="height: 250px !important" alt="..." />
                    <div class="carousel-caption ">
                        Making Sea Rescue Easier
                    </div>
                </center>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    
</div>
<div class="row row-fluid">
    <h3>How it works:</h3>
    <ol class="round">
        <li >
            <h3>Create your Bcon profile</h3>
            <p>
                <span>
                    Bcons are Quick Response Codes, which are an intelligent form of a barcode, and can easily be read using your smart phone.
                    Some smart phones include special reader software, but if your phone does not, you can download QR Scanning software 
                    from your app store.
                </span>
            </p>         
            <h4>Common scanning software</h4>
            <ul>
                <li>Apple iPhone : <a href="https://itunes.apple.com/us/app/qr-code-reader-by-scan/id698925807">QR Code Reader by Scan inc</a></li>
                <li>Android : <a href="https://play.google.com/store/apps/details?id=me.scan.android.client">QR Code Reader by Scan inc</a></li>
                <li>Microsoft Store : <a href="http://www.windowsphone.com/en-gb/store/app/microsoft-tag-app/32aa96ec-97e7-df11-9264-00237de2db9e">Microsoft Tag app</a></li>
                <li>Blackberry Store : <a href="http://appworld.blackberry.com/webstore/content/91062/?lang=en&countrycode=GB">QR Code Scanner</a></li>
            </ul>
        </li>
        <li >
            <h3>Generate your Bcon - you can print it yourself or order it directly from us</h3>
            <p>
                <span>
                    You can print your own Bcon stickers from your profile, and stick these on your equipment.

                    Make sure any Bcon sticker you print is waterproof and that your phone can read it.
                </span>
            </p>
            <p>Or</p>
            <p>Order your prints from us. We can print high quality Bcon Stickers </p>
        </li>
        <li >
            <h3>Stick them on your safety equipment</h3>
            <p>
                If you print your own Bcon sticker make sure you are using a good adhesive and one that will not damage your safety equipment. 
            </p>
            <p>
                Stick it on your bike helmet, motorbike helmet, canoe helmet or hard hat! 
            </p>
        </li>
        <li >
            <h3>Tell your friends about us</h3>
            <p>
                <a href="https://twitter.com/BconCC" class="twitter-follow-button" data-show-count="false">Follow @@BconCC</a>
                <script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } } (document, 'script', 'twitter-wjs');</script>
                &nbsp;
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Emergency information at the scan of a Bcon" data-via="BconCC">Tweet</a>
                <script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } } (document, 'script', 'twitter-wjs');</script>
                &nbsp;
                
            </p>
         <div class="share42init"></div>
        <script type="text/javascript" src="/Content/share42/share42.js"></script> 
        </li>
    </ol>
</div>