@using Gecko.Bcon.Web.Models
@using TwitterBootstrapMVC.Controls
@model dynamic
@{
    ViewBag.Title = "Delete your profile";
}
<div class="well well-small">
    @using (Html.BeginForm("Delete", "Profile", FormMethod.Post, new { @class = "form-horizontal" })) {
        <p class="alert alert-warning">This data can not be recovered. Once deleted, it is permanently deleted.</p>
        <p>Your existing Bcon stickers will cease to function, and will no longer be available. </p>
        <p>
            Are you sure you want to delete your profile? 
        </p>
        
        using (ToolBarBuilder<dynamic> toolbar = Html.Bootstrap().Begin(new ToolBar())) {
            using (ButtonGroupBuilder<dynamic> group = toolbar.BeginButtonGroup(new ButtonGroup())) {
                @Html.Bootstrap().ActionLinkButton("No, cancel","Details").Style(ButtonStyle.Danger)
                @Html.Bootstrap().SubmitButton().Text("Yes, delete permanently")
                @Html.AntiForgeryToken()
            }
        }
    }
</div>
