<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=XXXXXX;Database=XXXXXX;Uid=root;Pwd=XXXXXX;"/>
  </connectionStrings>
  <appSettings>
    <add key="Schema" value="DropCreate"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
