@using TwitterBootstrap2
@using TwitterBootstrapMVC
@model dynamic

@{
    ViewBag.Title = "Administration Users";
}
<ul class="breadcrumb">
    <li>@Html.Bootstrap().ActionLink("Admin ", "Dashboard", "Home").RouteValues(new {Area = "Admin"}) <span class="divider"></span></li>
</ul>

<div class="well well-large">
    <div class="well well-large white-bakground gray-border">
        
        @Html.Bootstrap().ActionLinkButton("Users","Users").Size(ButtonSize.Large).Style(ButtonStyle.Primary)
        <span class="divider"> | </span>
        @Html.Bootstrap().ActionLinkButton("Orders", "Orders").Size(ButtonSize.Large).Style(ButtonStyle.Primary)

    </div>
</div>