@using MvcContrib.UI.Grid
@using MvcContrib.UI.Pager
@using TwitterBootstrap2
@model Gecko.Bcon.Web.Areas.Admin.Models.UserGridViewModel
<ul class="breadcrumb">
    <li>@Html.Bootstrap().ActionLink("Admin ", "Dashboard", "Home").RouteValues(new {Area = "Admin"}) <span class="divider"></span></li>
    <li>Users</li>
</ul>
<div class="well well-large">
    <div class="table white-bakground gray-border">
        @Html.Raw(Html.Pager(Model.Results))

        @Html.Grid(Model.Results).Columns(cols => {
                                                cols.For(col => col.Id).Sortable(true);
                                                cols.For(col => col.FirstName).Sortable(true);
                                                cols.For(col => col.LastName).Sortable(true);
                                                cols.For(col => col.Email).Sortable(true);
                                                cols.For(col => col.CreatedOn).Sortable(true);
                                                cols.For(col => col.Role).Sortable(true);
                                                cols.For(col => col.State).Sortable(true);
                                            }).Sort(Model.SortOptions)

    </div>
</div>